@model IEnumerable<WMS.Models.JobCardApp>

@{
    ViewBag.Title = "Index";
}

<h2>Job Card</h2>
     <section class="col-md-6">
        <p style="font-size:16px; margin-bottom:15px;">Assign Job Card</p>
        @using (Html.BeginForm("EditAttJobCard", "JobCard", FormMethod.Post))
        {
        <article class="row">
            <section class="col-md-6">
                
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-4">
                        <label>From</label>
                    </div>
                   <div class="col-md-8"> 
                    
                
                        <input id="JobDateFrom" name="JobDateFrom" value="@ViewData["JobDateFrom"]" type="date" class="form-control"/>
                    </div>
                </div>
                 <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-4">
                        <label>To</label>
                    </div>
                    <div class="col-md-8">
                        <input id="JobDateTo" name="JobDateTo" type="date" value="@ViewData["JobDateTo"]" class="form-control"/>
                    </div>
                </div>
                 <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-6">
                        <label>Job Card</label>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownList("JobCardType",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    </div>
                </div>
                
               
                    
                     
                     <div id="Option4" class="desc" style="display: none;">
                        <div class="row" style="margin-left:10%; margin-bottom:3%">
                            <div class="col-md-6">
                                <label>Employee</label>
                            </div>
                            <div class="col-md-6">
                                <input id="JobEmpNo" name="JobEmpNo" type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                <p class="ErorrMessage">@ViewBag.CMessage</p>
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Save"  class="btn btn-sm btn-success"/>
                    </div>
                </div>
            </section>
 </article>
        }
<script src="@Url.Content("~/Scripts/EditAttendance.js")"></script>


