@model IEnumerable<WMS.Models.JobCardApp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

  <section class="col-md-6">
        <p style="font-size:16px; margin-bottom:15px;">Assign Job Card</p>
        
        <article class="row">
            <section class="col-md-6">
                 <div style="margin-left:15%; font-size:15px">
                    <div class="radio"><label><input type="radio" value="shift" name="cars">By Shift</label></div>
                    <div class="radio"><label><input type="radio" value="crew" name="cars">By Crew</label></div>
                    <div class="radio"><label><input type="radio" value="section"name="cars">By Section</label></div>
                    <div class="radio"><label><input type="radio" checked value="employee" name="cars">By Employee</label></div>
                </div>
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-4">
                        <label>From</label>
                    </div>
                    <div class="col-md-8">
                        <input id="JobDateFrom" name="JobDateFrom" value="@ViewData["JobDateFrom"]" type="date" class="form-control"/>
                    </div>
                </div>
                 <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-4">
                        <label>To</label>
                    </div>
                    <div class="col-md-8">
                        <input id="JobDateTo" name="JobDateTo" type="date" value="@ViewData["JobDateTo"]" class="form-control"/>
                    </div>
                </div>
                 <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-6">
                        <label>Job Card</label>
                    </div>
                    <div class="col-md-6">
                         @Html.DropDownList("CardType",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    </div>
                </div>
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-6">
                        <label>Job Card</label>
                    </div>
                    <div class="col-md-6">
                         @Html.DropDownList("CompanyID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                    </div>
                </div>
                 <div id="Option1" class="desc">
                        <div class="row" style="margin-left:10%; margin-bottom:3%">
                            <div class="col-md-6">
                                <label>Shift</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("ShiftList",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                            </div>
                        </div>
                    </div>
                    <div id="Option2" class="desc" style="display: none;">
                        <div class="row" style="margin-left:10%; margin-bottom:3%">
                            <div class="col-md-6">
                                <label>Crew</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("CrewList",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                            </div>
                        </div>
                    </div>
                     <div id="Option3" class="desc" style="display: none;">
                        <div class="row" style="margin-left:10%; margin-bottom:3%">
                            <div class="col-md-6">
                                <label>Section</label>
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("SectionList",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                            </div>
                        </div>
                    </div>
                     <div id="Option4" class="desc" style="display: none;">
                        <div class="row" style="margin-left:10%; margin-bottom:3%">
                            <div class="col-md-6">
                                <label>Employee</label>
                            </div>
                            <div class="col-md-6">
                                <input id="JobEmpNo" name="JobEmpNo" type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Save"  class="btn btn-sm btn-success"/>
                    </div>
                </div>
            </section>
            <section class="col-md-6">

            </section>
        </article>
        
    </section>
